<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
      <fieldTypes>
          <fieldType name="Tracking" type="Sitecore.Support.Analytics.Data.TrackingField,Sitecore.Support.294598" resizable="true" patch:instead="fieldtType[@name='Tracking']"/>
      </fieldTypes>
  </sitecore>
</configuration>